.challenge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .lottie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter:drop-shadow(0 5px 5px var(--icon-shadow));
  }
}

@media (max-width:480px) {
  .challenge-container {
    padding-block: var(--padding-large);
    justify-content: flex-start;
    margin-bottom: 80px;
  }
}