.navigation-button {
  align-items: center;
  background-color: var(--primary-dark);
  border: none;
  color: var(--secondary-light);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding-left: 10px;
  transition: var(--transition-medium) ease;
  width: 100%;

  &:hover {
    background-color: var(--primary-light);
    width: 100%;
    color: var(--white);
  }

  &:disabled {
    pointer-events: none;
    color: var(--white);
  }

  svg {
    margin: var(--margin-medium)var(--margin-large) var(--margin-medium) var(--margin-zero);
    width: var(--icon-medium);
    height: var(--icon-medium);
    min-width: var(--icon-medium);
  }

  .button-icon {
    min-width: 50px;
  }

  .button-text {
    display: inline;
    text-decoration: none;
    white-space: nowrap;
  }
}

.logo {
  color: var(--primary-extra-light);
}