.login-container {
  max-width: var(--form-width);
  margin-inline: auto;
  margin-top: var(--margin-large);
  text-align: center;

  .login-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--padding-large);
    color: var(--primary-dark);
  }

  h3 {
    margin-bottom: var(--margin-large);
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--primary-dark);
  }

  form {

    input {
      width: 100%;
      padding: var(--padding-medium);
      background-color: var(--white);
      color: var(--primary-dark);
      border-radius: var(--input-radius);
      border: 1px solid var(--primary-light);
      margin-bottom: var(--margin-large);

      &:focus {
        border-color: var(--primary-dark);
        outline: none;
      }
    }
  }

  p {
    color: var(--primary-dark);

    a {
      color: var(--link);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .button {
    margin: var(--margin-large);
  }
}

@media (max-width:480px) {
  .login-container {
    padding-inline: var(--padding-general);
  }
}