.register-container {
  max-width: var(--general-width);
  margin: auto;
  text-align: center;

  h3 {
    margin-bottom: var(--margin-large);
    font-size: var(--font-large);
    font-weight: bold;
  }

  form {
    margin-bottom: var(--margin-large);

    input,
    select {
      width: 100%;
      padding: var(--padding-medium);
      border-radius: var(--input-radius);
      border: 1px solid var(--primary-light);
      margin-bottom: var(--margin-large);

      &:focus {
        border-color: var(--primary-dark);
        outline: none;
      }
    }

    button {
      width: 100%;
      padding: var(--padding-medium);
      background-color: var(--button-accept);
      color: var(--white);
      border: none;
      border-radius: var(--button-radius);
      cursor: pointer;
      transition: background-color var(--transition-fast);

      &:hover {
        background-color: var(--button-accept-hover);
      }

      &:disabled {
        background-color: var(--primary-light);
      }
    }
  }

  p {
    margin-top: var(--margin-large);

    a {
      color: var(--link);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}