.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .logout-prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--general-width);
    gap: var(--margin-large);

    h3 {
      font-size: 24px;
      font-weight: bold;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      gap: var(--padding-l);
    }

    .lottie {
      height: var(--lotie-medium);
      width: var(--lotie-medium);
    }
  }
}