.report-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-general);


  .report-charts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-general);
    max-width: var(--width-general);
  }
}