.button {
  align-items: center;
  border-radius: var(--radius-medium);
  border: none;
  color: var(--white);
  cursor: pointer;
  display: inline-flex;
  gap: var(--margin-small);
  justify-content: center;
  padding: var(--padding-medium);
  transition: var(--transition-fast);
  min-width: var(--button-min-width);

  &.active {
    background-color: var(--primary-dark);
    color: var(--secondary-light);
  }

  svg {
    margin: var(--margin-small);
    width: var(--icon-small);
    height: var(--icon-small);
    min-width: var(--icon-small);
  }

  .text {
    font-size: var(--font-medium);
    padding: var(--padding-small);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.button-info-accept {
    background-color: var(--button-info-accept);
  }

  &.button-info-accept:hover {
    background-color: var(--button-info-accept-hover);
  }

  &.button-confirm-accept {
    background-color: var(--button-confirm-accept);
  }

  &.button-confirm-accept:hover {
    background-color: var(--button-confirm-accept-hover);
  }

  &.button-confirm-cancel {
    background-color: var(--button-confirm-cancel);
  }

  &.button-confirm-cancel:hover {
    background-color: var(--button-confirm-cancel-hover);
  }

  &.button-warning-accept {
    background-color: var(--button-warning-accept);
  }

  &.button-warning-accept:hover {
    background-color: var(--button-warning-accept-hover);
  }
}