.button {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  font-size: 16px;
  cursor: pointer;
  padding-left: 10px;
  transition: color var(--transition-medium) ease;

  &:hover {
    color: red;
  }

  svg {
    margin: 10px 14px 10px 0px;
    width: var(--icon-medium);
    height: var(--icon-medium);
  }

  .button-text {
    display: inline;
    text-decoration: none;
  }
}