.user-data-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
  width: 100%;
  padding-inline: var(--padding-small);
  padding-block: var(--padding-small);
  align-items: center;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: var(--black-light);
  }

  div {
    padding: var(--padding-small);
    background-color: var(--white);
    border: 1px solid var(--black-light);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-data-header {
    padding: var(--padding-medium);
    background-color: var(--primary-dark);
    color: var(--white-light);

    &:hover {
      color: var(--primary-extra-light);
    }
  }
}

.user-danger div {
  background-color: var(--post-background-score-1);
}

@media (max-width: 768px) {
  .user-data-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .user-data-username {
    grid-column: span 3 / span 3;
  }

  .user-data-employment {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
  }

  .user-data-civilStatus {
    grid-column: span 3 / span 3;
    grid-row-start: 3;
  }

  .user-data-age {
    grid-row-start: 4;
  }

  .user-data-genre {
    grid-row-start: 4;
  }

  .user-data-score {
    grid-row-start: 4;
  }
}