.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: var(--navigationBar-size);
  height: 100vh;
  background-color: var(--primary-dark);
  padding: 20px 5px;
  overflow: hidden;
  transition: .75s ease;

  a {
    text-decoration: none;
  }

  &:hover {
    width: 200px;
  }

  ul,
  ol {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav-normal-width {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }

  .nav-mobile-width {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;

    ul,
    ol {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
    }
  }
}


@media (max-width: 480px) {

  .sidebar {
    position: fixed;
    bottom: 0;
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: var(--navigationBar-size);
    padding: 0px;
    overflow: hidden;
    transition: .75s ease;

    &:hover {
      width: 100vw;
    }

    .nav-normal-width {
      display: none;
    }

    .nav-mobile-width {
      display: flex;
    }
  }
}