.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 100vh;
  padding-top: var(--padding-m);

  .navigationBar {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 100vw;
    height: var(--navigationBarHeight);

    .linksContainer {
      width: 100vw;
      height: var(--navigationBarHeight);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      li {
        padding-inline: var(--padding-m);
        list-style: none;
      }
    }
  }
}

.outlet {
  width: 100vw;
  padding: var(--padding-l);
  height: calc(100vh - var(--navigationBarHeight));
}
