.sidebar {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60px;
  height: 100vh;
  background-color: var(--primary-dark);
  padding: 20px 5px;
  overflow: hidden;
  border-radius: 1rem 0 0 1rem;
  transition: .75s ease;

  &:hover {
    width: 200px;
  }
  h1 {
    color:yellow;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
}
