.post-card-component {
  position: relative;
  background-color: var(--white-light);
  border-radius: var(--radius-large);
  border: 1px solid var(--primary-light);
  padding: var(--padding-post);
  padding-bottom: 60px;
  margin: var(--margin-large)0;

  h3 {
    color: var(--primary-dark);
  }

  p {
    color: var(--primary-dark);
  }

  .footer-container {
    .start {
      position: absolute;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      bottom: var(--padding-large);
      left: var(--padding-post);
      justify-content: start;
      align-items: center;
      gap: var(--margin-small);

      .date {
        color: var(--primary-dark);
        font-size: var(--font-small);
      }
    }

    .end {
      position: absolute;
      bottom: var(--padding-large);
      right: var(--padding-post);
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      gap: var(--margin-large);

      .emoji {
        width: var(--icon-medium);
        filter: drop-shadow(0px 0px 2px var(--primary-light));
      }

      .icon-container {
        width: var(--icon-container);
        transition: var(--transition-fast);
        cursor: pointer;
      }

      .icon-container:hover {
        transform: scale(1.3);
      }
    }
  }


}

.score-5 {
  background-color: var(--post-background-score-5);
}

.score-4 {
  background-color: var(--post-background-score-4);
}

.score-3 {
  background-color: var(--post-background-score-3);
}

.score-2 {
  background-color: var(--post-background-score-2);
}

.score-1 {
  background-color: var(--post-background-score-1);
}