.post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding-general);
  transition: transform 1s ease-in-out;

  .post {
    width: 100%;
    max-width: var(--general-width);
  }
}

