/* NewPostComponent.scss */
.skeleton {
  border-radius: var(--radius-large);
  border: 1px solid var(--primary-light);
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
  padding: var(--padding-large);

  .skeleton-title {
    width: 40%;
    height: 20px;
    border-radius: var(--radius-small);
    margin: var(--margin-small);
    animation: var(--skeleton-animation);
  }

  .skeleton-text {
    width: 100%;
    height: var(--skeleton-line-medium);
    border-radius: var(--radius-small);
    margin: var(--margin-medium);
    animation: var(--skeleton-animation);
  }

  .skeleton-chip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--margin-small);

    .skeleton-chip-item {
      width: 60px;
      height: 20px;
      border-radius: var(--radius-full);
      margin: var(--margin-small);
      animation: var(--skeleton-animation);
    }
  }

  .skeleton-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;

    .skeleton-emoji {
      display: flex;
      flex-direction: row;
      gap: var(--margin-medium);
      height: 60px;

      .skeleton-emoji-item {
        width: 60px;
        height: 60px;
        border-radius: var(--radius-full);
        animation: var(--skeleton-animation);
      }
    }

    .skeleton-button {
      width: 100px;
      height: var(--icon-large);
      border-radius: var(--radius-medium);
      animation: var(--skeleton-animation);
    }
  }
}

/* Loading animation */
@keyframes skeleton-loading {
  0% {
    background-color: var(--skeleton-start-color);
  }
  100% {
    background-color: var(--skeleton-end-color);
  }
}