.newPostCardComponent {
  background-color: var(--color-white);
  border-radius: var(--radius-large);
  border: 1px solid var(--primary-light);
  padding: var(--padding-large);

  .category-container{
    display: flex;
    justify-content: flex-start;
    margin: var(--margin-medium)0;
  }

  .publish-button-container{
    display: flex;
    justify-content: flex-end;
  }
}