.newPostCardComponent {
  background-color: var(--white-light);
  border-radius: var(--radius-large);
  border: 1px solid var(--primary-light);
  padding: var(--padding-large);

  .category-container {
    display: flex;
    justify-content: flex-start;
    margin: var(--margin-medium) 0;
  }

  .publish-container {
    display: flex;
    justify-content: space-between;

    .emoji-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .emoji {
        height: var(--icon-large);
        width: var(--icon-large);
        margin-right: var(--margin-medium);
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
          filter: drop-shadow(0px 5px 5px var(--primary-light));
        }
      }
    }
  }
}