.app-container {
  display: flex; // Para alinear la barra lateral y el contenido en línea
  height: 100vh; // Asegura que ocupe todo el alto de la pantalla
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: var(--app-background-color);
  overflow-y: auto;
}

.navigation-link {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: var(--primary-dark);
  }
}