.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  flex: 1;
  background-color: var(--app-background-color);
  overflow-y: auto;
}

.navigation-link {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: var(--primary-dark);
  }
}

@media (max-width:375px) {
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}