@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Itim&display=swap');

:root {
  // Font
  font-family: "Bai Jamjuree", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black-dark);
  background-color: var(--primary-light);

  // Colors
  --white: #fff;
  --white-light: #eee;
  --new-post-background: var(--white-light);
  --black: #000;
  --black-dark: #181818;
  --black-medium: #4A4A4A;
  --black-light: #C1C1C1;
  --primary-dark: #301471;
  --primary-medium: #4263EB;
  --primary-light: #837BDE;
  --primary-extra-light: #ada9de;
  --secondary-dark: var(--black-dark);
  --secondary-medium: var(--black-medium);
  --secondary-light: var(--black-light);
  --logo-color: var(--white);
  --icon-color: var(--primary-extra-light);
  --button-general: var(--primary-medium);
  --button-general-hover: var(--primary-dark);
  --button-general-disabled: #8d92aa;
  --button-info-accept: var(--button-general);
  --button-info-accept-hover: var(--button-general-hover);
  --button-confirm-accept: #4caf50;
  --button-confirm-accept-hover: #2d7b30;
  --button-confirm-cancel: #f44336;
  --button-confirm-cancel-hover: #af271d;
  --button-warning-accept: #f44336;
  --button-warning-accept-hover: #af271d;
  --button-icon-color: var(--white);
  --post-background-score-1: #ffe0e0;
  --post-background-score-2: #e9dbf8;
  --post-background-score-3: #f7f8d9;
  --post-background-score-4: #d2ddfd;
  --post-background-score-5: #dbfdd7;
  --post-color-score-1: #bf0000;
  --post-color-score-2: #5b1e9c;
  --post-color-score-3: #989d1c;
  --post-color-score-4: #0733b1;
  --post-color-score-5: #1ab208;
  --app-background-color: #edeafb;
  --icon-shadow: rgba(0, 0, 0, 0.4);
  --modal-background: rgba(78, 76, 79, 0.4);
  --link: var(--primary-medium);
  --skeleton-start-color: #ccc;
  --skeleton-end-color: #bbb;

  // Fonts
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // FontSizes
  --font-small: 0.8rem;
  --font-medium: 1rem;
  --font-large: 1.4rem;
  --font-title-size: 1.2rem;
  // FontWeights
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Sizes
  // General responsives sizes
  --responsive-20vw: 20vw;
  --responsive-40vw: 40vw;
  --responsive-60vw: 60vw;
  --responsive-80vw: 80vw;
  --responsive-100vw: 100vw;
  --responsive-20vh: 20vh;
  --responsive-40vh: 40vh;
  --responsive-60vh: 60vh;
  --responsive-80vh: 80vh;
  --responsive-100vh: 100vh;
  // Padding
  --padding-zero: 0px;
  --padding-small: 4px;
  --padding-medium: 8px;
  --padding-large: 16px;
  --padding-post: 32px;
  --padding-general: 32px;
  --padding-container: 64px;
  // Margin
  --margin-zero: 0px;
  --margin-small: 4px;
  --margin-medium: 8px;
  --margin-large: 16px;
  --margin-general: 32px;
  --margin-container: 64px;
  // Gap
  --gap-general: 16px;
  // Icons
  --icon-xsmall: 8px;
  --icon-small: 16px;
  --icon-medium: 32px;
  --icon-large: 48px;
  --icon-container: 28px;
  // Lotties
  --lottie-xsmall: 50px;
  --lottie-small: 100px;
  --lottie-medium: 200px;
  --lottie-large: 300px;
  // NavigationBar
  --navigationBar-height: 60px;
  // Radius
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-full: 100px;
  // Input
  --input-radius: 5px;
  // Button
  --button-min-width: 120px;
  --button-radius: 5px;
  --button-font-size: 1.1rem;
  // Skeleton
  --skeleton-line-medium: 24px;
  // General (Modal, info columns, ...)
  --general-width: 800px;
  --form-width: 400px;
  --modal-margin-left: 44px;

  // Translation
  --translation-small-neg: -2px;
  --translation-small-pos: 2px;
  --translation-medium-neg: -4px;
  --translation-medium-pos: 4px;
  --translation-large-neg: -8px;
  --translation-large-pos: 8px;

  // Transition
  --transition-fast: 0.2s;
  --transition-medium: 0.5s;
  --transition-slow: 2s;
  --skeleton-animation: skeleton-loading 0.7s infinite linear alternate;

  // neumorphism
  --neu-border-radius: 50px;
  --neu-background: #e0e0e0;
  --neu-box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  --neu-padding: 30px 50px;
  --neu-margin: 40px;
  --neu-font-color: var(--primary-dark);
  --neu-h1-font-size: 1.4rem;
  --neu-h1-font-weight: bold;
  --neu-h1-margin-bottom: 10px;
  --neu-h3-font-size: 1.2rem;
  --neu-h3-margin-bottom: 10px;
  --neu-p-font-size: 1rem;
  --neu-p-margin-bottom: 20px;

  h1 {
    font-family: "Itim", serif;
  }

  p,
  button,
  input,
  textarea {
    font-family: "Bai Jamjuree", serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid rgb(200, 76, 76);
}