:root {
  // Font
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black-light);
  background-color: var(--primary-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Colors
  --white: #fff;
  --white-light: #ddd;
  --black: #000;
  --black-light: #222;
  --primary-dark: #232220;
  --primary-medium: #4e4c4f;
  --primary-light: #9f8d8d;
  --secondary-medium: #d9ae8e;
  --secondary-light: #ffddba;
  --logo-color: var(--primary-light);
  --icon-color: var(--secondary-light);

  // Sizes
  --padding-m: 10px;
  --padding-l: 20px;
  --navigationBarHeight: 50px;
  --icon-small: 20px;
  --icon-medium: 30px;
  --icon-large: 60px;

  // Transition
  --transition-fast: 0.2s;
  --transition-medium: 0.35s;
  --transition-slow: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid rgb(200, 76, 76);
}