:root {
  // Font
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black-light);
  background-color: var(--primary-light);

  // Colors
  --white: #fff;
  --white-light: #ddd;
  --black: #000;
  --black-light: #222;
  --primary-dark: #232220;
  --primary-medium: #4e4c4f;
  --primary-light: #9f8d8d;
  --secondary-medium: #d9ae8e;
  --secondary-light: #ffddba;
  --logo-color: var(--white);
  --icon-color: var(--secondary-light);
  --button-accept: #4caf50;
  --button-accept-hover: #2d7b30;
  --button-cancel: #f44336;
  --button-cancel-hover: #af271d;

  // Fonts
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // FontSizes
  --font-small: 0.6rem;
  --font-medium: 1rem;
  --font-large: 1.4rem;
  // FontWeights
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Sizes
  // Padding
  --padding-zero: 0px;
  --padding-small: 4px;
  --padding-medium: 8px;
  --padding-large: 16px;
  // Margin
  --margin-zero: 0px;
  --margin-small: 4px;
  --margin-medium: 8px;
  --margin-large: 16px;
  // Icons
  --icon-xmall: 8px;
  --icon-small: 16px;
  --icon-medium: 32px;
  --icon-large: 64px;
  // Lotties
  --lottie-small: 100px;
  --lottie-medium: 200px;
  --lottie-large: 300px;
  // NavigationBar
  --navigationBarHeight: 50px;
  // Radius
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-full: 100px;
  // Button
  --button-min-width: 100px;

  // Translation
  --translation-small-neg: -2px;
  --translation-small-pos: 2px;
  --translation-medium-neg: -4px;
  --translation-medium-pos: 4px;
  --translation-large-neg: -8px;
  --translation-large-pos: 8px;

  // Transition
  --transition-fast: 0.2s;
  --transition-medium: 0.35s;
  --transition-slow: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid rgb(200, 76, 76);
}