.admin-page-container {
  padding: var(--padding-general);

  h1 {
    color: var(--primary-dark);
  }

  .admin-page-table-filter {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--padding-large);
    margin-block: var(--margin-large);
    width: 100%;

    select {
      padding-inline: var(--padding-small);
      background-color: var(--white);
      color: var(--primary-dark);
      width: 100%;
    }

    .admin-page-filter-employment {
      grid-column: 1/3;
    }

    .admin-page-filter-civilStatus {
      grid-column: 3/5;
    }

    .admin-page-filter-genre {
      grid-column: 5/7;
    }

    .admin-page-filter-minAge {
      grid-column: 1/2;
      grid-row-start: 2;
    }

    .admin-page-filter-maxAge {
      grid-column: 2/3;
      grid-row-start: 2;
    }

    .admin-page-filter-minStatus {
      grid-column: 3/4;
      grid-row-start: 2;
    }

    .admin-page-filter-maxStatus {
      grid-column: 4/5;
      grid-row-start: 2;
    }

    .button-info-accept {
      grid-column: 5/7;
      grid-row-start: 2;
    }
  }

  .admin-page-user-table {
    display: flex;
    flex-direction: column;
    gap: var(--margin-small);
  }
}

@media (max-width: 1020px) {
  .admin-page-container {
    .admin-page-table-filter {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: var(--padding-large);
      margin-block: var(--margin-large);

      .admin-page-filter-employment {
        grid-column: 1/2;
      }

      .admin-page-filter-civilStatus {
        grid-column: 2/3;
      }

      .admin-page-filter-genre {
        grid-column: 3/4;
      }

      .admin-page-filter-minAge {
        grid-column: 1/2;
        grid-row-start: 2;
      }

      .admin-page-filter-maxAge {
        grid-column: 2/3;
        grid-row-start: 2;
      }

      .admin-page-filter-minStatus {
        grid-column: 1/2;
        grid-row-start: 3;
      }

      .admin-page-filter-maxStatus {
        grid-column: 2/3;
        grid-row-start: 3;
      }

      .button-info-accept {
        grid-column: 3/3;
        grid-row-start: 3;
      }
    }
  }
}

@media (max-width: 768px) {
  .admin-page-container {
    .admin-page-table-filter {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: var(--padding-large);
      margin-block: var(--margin-large);

      .admin-page-filter-employment {
        grid-column: 1/3;
      }

      .admin-page-filter-civilStatus {
        grid-column: 1/3;
        grid-row-start: 2;
      }

      .admin-page-filter-genre {
        grid-column: 1/3;
        grid-row-start: 3;
      }

      .admin-page-filter-minAge {
        grid-column: 1/2;
        grid-row-start: 4;
      }

      .admin-page-filter-maxAge {
        grid-column: 2/3;
        grid-row-start: 4;
      }

      .admin-page-filter-minStatus {
        grid-column: 1/2;
        grid-row-start: 5;
      }

      .admin-page-filter-maxStatus {
        grid-column: 2/3;
        grid-row-start: 5;
      }

      .button-info-accept {
        grid-column: 1/3;
        grid-row-start: 6;
      }

      .admin-page-user-table {
        gap: var(--margin-large);
      }
    }
  }
}